:root {
	--bgcolor: #1B242D;
	--txtcolor: #FFFFFF;
	--accentcolor: #4BA5AC;
}
body {
	background-color : var(--bgcolor);
	color : var(--txtcolor);
}
header {
	background-color : var(--accentcolor);
	color : var(--bgcolor);
	padding: 5px 0px 5px 0px;
	width:100%;
}
footer {
	background-color : var(--accentcolor);
	color : var(--bgcolor);
	padding: 5px 0px 5px 0px;
	width:100%;
	text-align: center;
}
h1,h2 {
	text-align: center;
	color: var(--bgcolor);
}
hr {
	color: var(--accentcolor);
}
#signup {
	text-align: center;
}
input {
	padding: 5px 0px 5px 0px;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
}
#signupbutton {
	padding: 5px 0px 5px 0px;
	color: var(--bgcolor);
	background-color: var(--accentcolor);
	width: 30%;
}
